<div class="col">
    {{#with user}}
    <div>
        <img class="card-img-top"
            src="https://res.cloudinary.com/da1iyocf4/image/upload/v1657192791/project-nike/fondonegro_k5mk6s.jpg"
            alt="Card image cap">
        <div class="card-body little-profile text-center">
            <div class="pro-img"><img src="{{image}}" alt="{{username}}"></div>
            <h3 class="m-b-0">{{username}}</h3>
            <p>{{email}}</p>
            <p>{{country}}</p>
            <p>{{postalCode}}</p>
            <a href="/admin/products" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
                data-abc="true">All products</a>
            <a href="/admin/products/create" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
                data-abc="true">Create product</a>
            <a href="/admin/stores/create" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
                data-abc="true">Create store</a>
            <a href="/profile/:user_id/edit" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
                data-abc="true">Edit profile</a>
            <div class="row text-center m-t-20">
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">34</h3><small>Articles cart</small>
                </div>
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">40</h3><small>I like</small>
                </div>
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">54</h3><small>Items purchased</small>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</div>