<div class="container-details">
    <div class="row">
        <div class="col-md-4">
            <div id="img-details">
                <img src="{{images.[0]}}" class="card-img-top" alt="{{name}}">
            </div>
        </div>
        <div id="text-details" class="col-7">
            <div class="container">
                <h2>{{name}}</h2>
                <h3>{{category}}</h3>
                <p>{{price}}</p>
                <div class="escription-details">
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>